h1#logo {
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
}
div#content {
}
    ul.submenu {
        border: 1px solid #ddd;
        -webkit-border-radius: 10px;
        padding: 5px 20px;
        position: absolute;
        top: 40px;
        left: 300px;
        padding-right: 5px;
    }
        ul.submenu li {
            list-style: none;
            float: left;
            margin-right: 15px;
        }
div#wrapper {
    width: 880px;
    margin: 15px auto;
    position: relative;
    border: 1px solid silver;
    padding: 15px;
}

ul#menu {
    position: absolute;
    left: 300px;
    top: 0;
    background: #ddd;
    -webkit-border-radius: 10px;
    padding: 5px 20px;
    padding-right: 5px;
    
}
    ul#menu li {
        list-style: none;
        float: left;
        margin-right: 15px;
    }



form {
    padding: 10px;
}
    form fieldset {
        padding: 20px;
        margin: 10px;
        width: 57%;
        margin-left: 27%;
    }
    form label {
        display: block;
        width: 25%;
        position: relative;
        line-height: 1.8em;
        padding-right: 75%;
        text-align: right;
        font-size: 1.1em;
    }
        form label input, form label select {
            position: absolute;
            left: 27%;
            width: 60%;
            border: 1px solid silver;
            padding: 2px 3px;
            font-size: inherit;
        }
        form label textarea {
            position: absolute;
            width: 60%;
            left: 27%;
            height: 5em;
            font-size: inherit;
            top: 0;
            margin-top: 1px;
            border: 1px solid silver;
        }
        form label .spacer {
            height: 3.5em;
            display: block;
        }
    form fieldset.checkboxes {
        
    }
        form fieldset.checkboxes label {
            width: 75%;
            padding-left: 25%;
            padding-right: 15px;
            text-align: left;
        }
            form fieldset.checkboxes input {
                left: 17%;
                top: 6px;
                width: auto;
            }
