* {
    padding: 0;
    margin: 0;
}
body {
    background: #101010;
    color: white;
    font-size: 78%;
    font-family: Verdana, Tahoma, sans-serif;
    
    
}
    div#wrapper {
        width: 880px;
        margin: 15px auto;
        position: relative;

    }
    
        div#top {
            background: #202020;
            padding: 15px;
            padding-bottom: 0px;
            position: relative;
        }

            h1#logo {
                padding-bottom: 1em;
                background: #AAEF00;
                color: white;
                padding: 0;
                height: 100px;
                position: relative;
            }
                h1#logo a {
                    color: white;
                    text-decoration: none;
                    position: absolute;
                    bottom: 15px;
                    font-family: Verdana, Tahoma, sans-serif;
                    left: 15px;
                    width: 170px;
                    line-height: 1.1em;
                    text-align: right;
                }
    div#content {
        margin: 0 15px;
        padding: 15px;
        background: #303030;
    }





ul#menu {
    height: 26px;
    padding: 1px 0;
    margin: 0 15px;
    background: #202020;

}
    ul#menu li {
        list-style: none;
        float: left;
        width: 20%;
    }
    ul#menu li.submenu {
        float: right;
    }
        ul#menu a, .button {
            display: block;
            background: #D0D0D0;
            color: #101010;
            text-decoration: none;
            margin: 1px;
            text-align: center;
            font-size: 10px;
            height: 24px;
            line-height: 24px;
            text-transform: uppercase;
        }

    .button {
        padding: 0 15px;
    }
    #add_round {
        position: absolute;
        right: 30px;
        top: 21px;
    }

a {
    color: #FDF700;
}
    a.more:after {
        content: ' »';
    }
h2, h3, h4, h5, h6 {
    color: #AAEF00;
    font-weight: normal;
}

h2 {
    margin: 0.5em 0 0.3em;
    font-size: 18px
}
h3 {
    margin: 0.5em 0 0.1em;
}
ul {
    list-style: square;
    padding-left: 20px;
    margin: 0.2em 0 0.4em;
}
div.columns {
    position: relative;
}
    div.left {
        position: absolute;
        width: 160px;
    }
    div.right {
        margin-left: 160px;
    }
        div.right form fieldset {
            margin-left: 0px;
        }

.scores .drop {
    border: 1px solid black;
}
.scores input[type="text"] {
    width: 20%;
}
.fright {
    float: right;
}
dl {
    position: relative;
}
    dt {
        position: absolute;
        width: 50px;
        text-align: right;
        padding-right: 10px;
        border-right: 1px dotted silver;
    }
    dd {
        margin-left: 70px;
    }

table {
    text-align: left;
}
    .number {
        text-align: right;
    }
    td, th {
        padding: 4px;
        vertical-align: top;
    }
    th {
        background-color: #AAEF00;
        border: 1px solid #5B7F00;
        color: #5B7F00;
        padding-right: 20px;
    }

form {
    padding: 10px;
}
    form fieldset {
        padding: 20px;
        margin: 10px;
        width: 57%;
        margin-left: 27%;
    }
    form label {
        display: block;
        width: 25%;
        position: relative;
        line-height: 1.8em;
        padding-right: 75%;
        text-align: right;
        font-size: 1.1em;
    }
        form label input, form label select {
            position: absolute;
            left: 27%;
            width: 60%;
            border: 1px solid silver;
            padding: 2px 3px;
            font-size: inherit;
        }
        form label textarea {
            position: absolute;
            width: 60%;
            left: 27%;
            height: 5em;
            font-size: inherit;
            top: 0;
            margin-top: 1px;
            border: 1px solid silver;
        }
        form label .spacer {
            height: 3.5em;
            display: block;
        }
    form fieldset.checkboxes {
        
    }
        form fieldset.checkboxes label {
            width: 75%;
            padding-left: 25%;
            padding-right: 15px;
            text-align: left;
        }
            form fieldset.checkboxes input {
                left: 17%;
                top: 6px;
                width: auto;
            }
        form fieldset.checkboxes.inputs label {
            padding-left: 5%;
        }
        form fieldset.checkboxes.inputs input {
            width: 30%;
            left: 20%;
        }
        form fieldset.checkboxes.inputs input[type="checkbox"] {
            left: 40%;
        }