[% PROCESS round/submenu.tt %]

<ul>
    [% SET rounds = rounds.all; IF rounds.isa('Golf::Domain::Round');
        SET rounds = [ rounds ]; END %]
    
[% FOREACH round IN rounds.sort('date').reverse %]
    <li>[% round.course.name %], [% round.date %] - <a href="[% c.uri_for(c.action, round.id) %]">Details</a> - </li>
[% END %]
</ul>