<table>
    <thead>
        <tr>
            <th>Name</th><th>Par</th><th>Holes</th><th>Rounds</th>
        </tr>
    </thead>
[% FOREACH course IN courses.all %]
    <tr>
        <td>[% course.name %]</td>
        <td class="number">[% course.par %]</td>
        <td class="number">[% course.size %]</td>
        <td class="number">[% course.number_of_rounds IF course.rounds%]</td>
        <td><a href="[% c.uri_for(c.action, course.name) %]">Details</a></td>
    </tr>
[% END %]
</ul>