<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Golf</title>
        <!-- 
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript">
        // Load jQuery
        //google.load("jquery", "1");
        //google.load("jqueryui", "1.7.1");
        </script>
        -->
        [% c.assets.export %]
    </head>
    <body>
        <div id="wrapper">
            <div id="top">
                <h1 id="logo"><a href="[% c.uri_for('/') %]">Golfscore Tracker</a></h1>
            </div>
            <ul id="menu">
                <li><a href="[% c.uri_for('/player') %]">Players</a></li>
                <li><a href="[% c.uri_for('/course') %]">Courses</a></li>
                [% SET tmpl = c.req.path.split('/').0 _ '/submenu.tt';
                    TRY; 
                        INCLUDE $tmpl;
                    CATCH;
                    %] <!-- no submenu: [% tmpl %] -->
                    [% END; %]
                <div style="clear:both"></div>
            </ul>
            <a class="button" id="add_round" href="[% c.uri_for('/round/create') %]">Add round</a>
            <div id="content">
                [% IF msg %]
                <p class="msg">[% msg %]</p>
                [% END %]
                [% IF err %]
                <p class="err">[% err %]</p>
                [% END %]
                [% content %]
            </div>
        </div>
    </body>
</html>
