[% PROCESS player/submenu.tt %]

<table>
    <thead>
        <tr>
            <th>Name</th><th>Rounds</th><th></th>
        </tr>
    </thead>
    [% SET players = players.all; IF players.isa('Golf::Domain::Player');
        SET players = [ players ]; END %]
[% FOREACH player IN players.sort('name') %]
    <tr>
        <td>[% player.name %]</td>
        <td>[% player.rounds.size %]</td>
        <td><a href="[% c.uri_for(c.action, player.id) %]">Details</a></td>
    </tr>
[% END %]
</ul>